/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292C38;
    color: #FFFBEA;
    font-size: 17px;
}

/* Portrait Styles */
.portrait {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

/* Header Styles */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

header nav {
    flex: 1 0 50%;
    display: flex;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

header li {
    list-style: none;
    padding-right: 10%;
}

header a {
    color: #FFFBEA;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header a:hover, footer a:hover {
    color: #76a4e0;
}

/* Subheading Styles */
h2 {
    font-size: 20px;
    background-color: #292C38;
    padding: 7px;
}

/* Main and Footer Styles */
main, footer {
    display: flex;
    flex-wrap: wrap;
}

/* Aside Styles */
aside {
    border-right: 6px solid #10131E;
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}

/* Section Styles */
section {
    flex: 1 0 80%;
    padding: 1% 2%;
}

/* Footer List Styles */
footer li {
    list-style: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Big Picture Styles */
#big-pic {
    border: 5px solid #10131E;
    border-radius: 5px; 
    margin-bottom: 20px;
}

#big-pic img {
    width: 100%;
    border-radius: inherit;
}

/* Hero Section Styles */
#hero {
    background: url(./Images/CAM_09_SINLOGOS.jpg);
    background-size: contain;
    height: 55vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5%;
}

/* Small Pictures Section Styles */
#small-pics {
    display: flex;
    flex-wrap: wrap;
}

#small-pics section {
    flex: 1 0 45%;
    display: flex;
    justify-content: center;
}

/* Image Container Styles */
.img-container, .bigpic-container {
    position: relative;
    overflow: hidden;
}

#small-pics img {
    width: 100%;
    border: 5px solid #10131E;
    border-radius: 10px;
    display: block;
}

/* Overlay Styles */
.overlay-bigpic, .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 96, 105, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.overlay {
    border: solid 5px #10131E;
    border-radius: 6px;
}

.overlay-text {
    color: #fff;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Hover Effect Styles */
.img-container:hover .overlay, .bigpic-container:hover .overlay-bigpic, .img-container:hover .overlay-text {
    opacity: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    aside {
        border-right: none;
        border-bottom: 2px solid #10131E;
    }

    #small-pics section {
        flex: 1 0 100%;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer li {
        margin-bottom: 10px;
    }
}
